<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
      <title >Notice Board|General</title>
              <link rel='stylesheet' href='/css/materialize.css'>
              <link rel='stylesheet' href='/css/style.css'>
           
      


          </head>
    <body>
      <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Andela</a>

            <ul id="nav-mobile" class="left hide-on-med-and-down">

              
             
              <li><a class="nav-link" href="/users/login">Login</a></li> 
              <li ><a  href="/users/register">Register</a></li> 

              
             </ul>
            <ul class="side-nav" id="mobile-demo">              
           
              <li><a class="nav-link" href="/users/login">Login</a></li>
              <li ><a  href="/users/register">Register</a></li> 
            </ul>

            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
          </div>
      </nav> 
      

  
    <div class="row">
       

      <div class=" sign_in col l6">
        <h3 class="text-center .login-title"> Sign in to Notice Board</h3>
      <div class="row wall">
          <div class="account-wall sign_in col s9">
            <img class='profile-img' src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120'>
            <form class='form-signin' action='/users/login', method='POST'>
              <input type='text' name='username' class='form-control' placeholder='Username' required  autofocus>
              <input type='password' name='password' class='form-control' placeholder='Password' required>
              <button class='btn btn-lg btn-primary btn-block' type='submit'> Sign in </button>
                  
              <a href='/users/register' class='text-center new-account'> Create an account </a>
            
             
            </form>
          </div>  
      </div>

    </div>

  </div>
  <footer class="footer">
        <p>&copy; Sokunbi Taiwo 2017</p>
  </footer>


   <script type='text/javascript' src="/js/jquery.js"></script>
  <script type='text/javascript' src="/js/materialize.js"></script> 
  <script>$(document).ready(function(){
        $(".button-collapse").sideNav();
        

    });</script>
  </body>
  </html>