
<!DOCTYPE html>

    <html lang="en">
    <head>
       <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
      <titleNotice Board|General</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
              <link rel='stylesheet' href='/css/bootstrap.css'>
              <link rel='stylesheet' href='/css/style.css'>
      <script type='text/javascript' src="/js/bootstrap.js"></script>
          </head>
    <body>

           <div class="container">

          <div class="header clearfix">
          <div class="logo">
             Andela 
          </div>
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link " href="/">Home </a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" href="/users/home">Post Announcement</a>
                </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/general">General</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/fellow">Fellow</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/staff">Staff</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/users/logout">Logout</a>
            </li>
          </ul>
        </nav>
       
      </div>


          <ul class="announcements">
                  <div class=" page-title">
                  <h3>Welcome to Staff Notice Board</h3>
                </div>
                <% for(var i=0; i<announcements.length; i++) {%>
                  <% if(announcements[i].dropdown === 'staff' &&(announcements[i].startdate>= new Date().toLocaleDateString()) ){%>
                  <div class="announcements-group">
                  <li class="message">
                    <span><h5><%= announcements[i].name %></h5></span>          

                  </li>


                  <li class="message">
                        <b><span><%= announcements[i].title %></b></span><br>
           
                    Message: <h4><span><%= announcements[i].message %><h4></span>

                  </li>
                  <li class="message">
                    <i>Due Date: </i><span><%= announcements[i].startdate %></span>
                  </li>
                  </div>
                  <% } %>
                <% } %>
            </ul>
    </div>
    </div>

</body>
</html>